<style>
  #contentOutput {
    width: 100%;
  }
</style>

<div *ngIf="!print">
  <button type="button" (click)="onPrint()">Print</button>
  <div id="contentInput">
    <section *ngFor="let section of sections">
      <h2>{{ section.title }}</h2>
      <p>{{ section.text }}</p>
    </section>
  </div>
</div>
<div id="contentOutput"></div>
