/* You can add global styles to this file, and also import other style files */
@page {
  @bottom-left {
    content: "Custom Page No " counter(page);
  }

  @bottom-center {
    content: string(title);
    text-transform: uppercase;
  }
}

h1#title {
  string-set: title content(text);
}
